body {
    margin: 0;
}

@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat-bold;
    src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

.head {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: #333333;
}

.head-center {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 45px;
    background-color: #333333;
}

.currency {
    display: flex;
    white-space: nowrap;
    width: 180px;
    font-size: 13px;
    line-height: 21px;
    color: #777777;
    font-weight: 400;
    font-family: Montserrat;
}

.currency-select {
    cursor: pointer;
    border-style: none;
    outline: none;
    color: #777777;
    font-family: Montserrat;
    background: #333333;
}

.button-container {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
}

.register {
    text-decoration: none;
    color: #999999;
    margin: 10px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    font-family: Montserrat;
}

.empty {
    cursor: pointer;
    box-sizing: border-box;
    padding: 15px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 147px;
    height: 100%;
    background-color: #00c8c8;
    margin-left: 4px;
}

.empty-text {
    margin: 20px;
    text-decoration: none;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}

.icon {
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
}

@media (max-width: 600px) {
    .currency {
        font-size: 10px;
    }
    .register {
        font-size: 10px;
    }
    .empty-text {
        font-size: 10px;
        margin: 10px;
    }
    .currency-select {
        font-size: 10px;
    }
    .empty {
        padding: 0;
        width: 80px;
    }
    .icon {
        font-size: 13px;
        margin-left: 5px;
    }
}

.block-top {
    background-image: url(./foto/photo.png);
    width: 100%;
    height: 920px;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    height: 45px;
    width: 100%;
    margin-top: 0;
    padding-top: 2%;
}

.avenue {
    cursor: default;
    margin-left: 14.7%;
    font-size: 24px;
    letter-spacing: 1px;
    color: #222222;
    font-weight: 700;
    font-family: "Montserrat";
}

.avebold {
    font-family: "Montserrat-bold";
}

.lists {
    background-color: transparent;
    display: flex;
    width: 33.2%;
    height: 45px;
    margin-left: 25.3%;
}

.mens {
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    font-size: 13px;
    line-height: 20px;
    color: #575153;
    font-weight: 400;
    font-family: "Montserrat";
    margin-left: 20px;
    margin-right: 20px;
}

.mens-menu {
    display: flex;
    display: none;
    position: absolute;
    justify-content: space-around;
    flex-direction: column;
    width: 467px;
    height: 527px;
    background-color: #f8f8f8;
}

.mens:hover {
    color: #00c8c8;
}

.mens:hover>.mens-menu {
    display: flex;
}

.con-cas-for {
    display: flex;
    width: 100%;
    height: 50%;
}

.casuals {
    margin-top: 0;
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 45%;
    height: 100%;
    background-color: #f8f8f8;
}

.casuals-text {
    font-size: 13px;
    line-height: 25px;
    color: #575153;
    font-weight: 700;
    font-family: "Montserrat";
}

.cas-text-cel {
    font-size: 14px;
    line-height: 30px;
    color: #727272;
    font-weight: 300;
    font-family: "Montserrat";
}

.formal {
    margin-top: 0;
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 45%;
    height: 71%;
    background-color: #f8f8f8;
}

.autumn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 6%;
    width: 407px;
    height: 200px;
    background-color: #333333;
}

.autumn-text1 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.autumn-text2 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}


/* .menu-popup {
    position: absolute;
    display: none;
}

.mens {
    position: relative;
}

.mens:hover {
    color: red;
}

.red-square {
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: red;
}

.mens:hover>.red-square {
    display: flex;
} */